@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
body {
    background-color: #fcfcfc;
    font-family: 'Noto Sans Japanese', serif;
    width: 80%;
    max-width: 750px;
    margin: auto;
}
dt {
    font-weight: bold;
    border-bottom: solid 1px #888;
    color: #555;
    margin-top: 1em;
    font-size: 120%;
}
dd {
    border: solid 1px #aaa;
    padding: 1em;
    margin-left: 0em;
    margin-top: 0.5em;
}
.mayu { color: #e76259; }
.miyu { color: #ff8e44; }
.kaya { color: #64cf76; }
.minami { color: #fde753; }
.nanami { color: #b173de; }
.airi { color: #1c62a7; }
.yoshino { color: #67c5df; }
span {
text-shadow: 1px 1px 2px #555,
-1px 1px 2px #555,
1px -1px 2px #555,
-1px -1px 2px #555;
}

a {
  color: green;
  word-break: break-all;
}
li:before {
  content: counter(tes)". ";
}
li {
  display: inline-block;
  margin-right: 1em;
  counter-increment: tes;
}
