body {
  font-family: sans-serif;
  font-size: 200%;
}

h1 {
  font-size: 200%;
  text-align: center;
  margin-bottom: 100px;
}
img.logo {
  vertical-align: text-bottom;
}

div.rank {
  font-family: 'Montserrat',sans-serif;
  width: 75%;
  margin: auto;
}

span.demo {
  display: inline-block;
  font-size: 100px;
  height: 125px;
  width: 125px;
  text-align: center;
  margin-right: 10px;
}

span.ranking {
  display: inline-block;
  font-size: 150px;
  height: 175px;
  width: 175px;
  text-align: center;
  margin-right: 10px;
}
span.r1 {
  font-size: 180px;
}
